<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pid %><br>
    <%= f.text_field :pid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
<!--
    <%= f.label :AB_4 %>
    <%= f.check_box :AB_4 %>
-->
    <%= f.label :AB_14 %>
    <%= f.check_box :AB_14 %>
	<%= f.label :A6_4 %>
    <%= f.check_box :A6_4 %>
  </div>
<!--
  <div class="field">
    <%= f.label :with_whom %><br>
    <% if @person.id != nil %>
    <%= f.collection_select(:with_whom, Person.all.where("id != ? AND with_whom = ? ", @person.id, "") , :id, :name, :include_blank => true) %>
    <% else %>
    <%= f.collection_select(:with_whom, Person.all.where("with_whom = ?","") , :id, :name, :include_blank => true) %>
    <% end %>
  </div>
-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
