<p id="notice"><%= notice %></p>
<div class="container" >
  <h1>人員名單</h1>

  <table id="peo" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Special Shifts</th>
        <!--      <th>with</th> -->
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
      <tr id="person_<%=person.id%>">
        <td><%= person.pid %></td>      
        <td><%= person.name %></td>
        <td>
          <!--
          <% if person.AB_4 %>
          <%= "4  " %>
          <% end %>
          -->
          <% if person.AB_14 %>
          <%= "14  " %>
          <% end %>
          <% if person.A6_4 %>
          <%= "A6 " %>
          <% end %>
        </td>
  <!--
  <td>
  <% if person.with_whom!=nil && person.with_whom!="" %>
  <%= Person.find(person.with_whom).name %>
  <% end %>
  </td>
  -->
        <td><%= button_to 'Edit', edit_person_path(person), :method => :get %></td>
        <td><%= button_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= sortable_element("peo", :url=>"") %>
  <div class="btn-group">
    <%= link_to '新人員', new_person_path, :method => :get, class: "btn btn-link" %>
    <%= link_to '觀看目前的排班表', 'people/show', { :method=> :get, class: "btn btn-info" } %>
  </div>
</div>

<div class="container">

<br>
<%= form_tag({:controller => "people", :action=>"generateTable"}, :method => "post") do %>
  <%= label_tag("週六早班人數：") %>
  <%= select_tag(:peopleForA6, options_for_select([['1',1],['2',2],['3',3],['4',4],['5',5]],4)) #maximum would be 5 so that everyday could only has one person off 
  %>
  <%= submit_tag("產生排班表", class: "btn btn-primary") %>
<% end %>
<!-- we need form to submit data!! -->


</div>
