<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table border=2>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Special Shifts</th>
<!--      <th>with</th>	-->
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.pid %></td>      
        <td><%= person.name %></td>
        <td>
<!--
			<% if person.AB_4 %>
			<%= "4  " %>
			<% end %>
-->
			<% if person.AB_14 %>
			<%= "14  " %>
			<% end %>
			<% if person.A6_4 %>
			<%= "A6 " %>
			<% end %>
        </td>
<!--
        <td>
        	<% if person.with_whom!=nil && person.with_whom!="" %>
        	<%= Person.find(person.with_whom).name %>
        	<% end %>
        </td>
-->
        <td><%= button_to 'Edit', edit_person_path(person), :method => :get %></td>
        <td><%= button_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Current Table', 'people/show', :method=> :get %>
<br>
<%= form_tag({:controller => "people", :action=>"generateTable"}, :method => "post") do %>
	<%= label_tag("People work on Saturday") %>
	<%= select_tag(:peopleForA6, options_for_select([['1',1],['2',2],['3',3],['4',4],['5',5]],4)) #maximum would be 5 so that everyday could only has one person off 
	%>
	<%= submit_tag("Generate Table") %>
<% end %>
<!-- we need form to submit data!! -->

<%= button_to 'New Person', new_person_path, :method => :get %>
