<p><%= flash[:error] %> <br>
	
</p>

<table class="table table-striped table-bordered table-condensed">
<caption> 中央健康保險局（台北二門診中心）<br>
          藥劑二科（藥劑科）排班表
</caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="2">Mon</th>
      <th colspan="2">Tue</th>
      <th colspan="2">Wed</th>
      <th colspan="2">Thr</th>
      <th colspan="2">Fri</th>
      <th>Sat</th>
    </tr>
    <tr>
    	<th colspan="2"></th>
    	<th>A</th>
    	<th>B</th>
    	<th>A</th>
    	<th>B</th>
    	<th>A</th>
    	<th>B</th>
    	<th>A</th>
    	<th>B</th>
    	<th>A</th>
    	<th>B</th>
		<th>A</th>
	</tr>
  </thead>
  <tbody>
<% @people.each do |peo| %>
	<tr>
		<th><%= peo.pid %></th>
		<th><%= peo.name %></th>
		<th><%= peo.shift.A1 %></th>
		<th><%= peo.shift.B1 %></th>
		<th><%= peo.shift.A2 %></th>
		<th><%= peo.shift.B2 %></th>
		<th><%= peo.shift.A3 %></th>
		<th><%= peo.shift.B3 %></th>
		<th><%= peo.shift.A4 %></th>
		<th><%= peo.shift.B4 %></th>
		<th><%= peo.shift.A5 %></th>
		<th><%= peo.shift.B5 %></th>
		<th><%= peo.shift.A6 %></th>
	</tr>
<% end %>
</table>

<%= link_to "下載ＥＸＣＥＬ", "show.xls", class: "btn btn-success" %>
<%= link_to 'Back', people_path, class: "btn btn-info" %>
