<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @person.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Shifts:</strong>
  <% if @person.AB_4 %>
  <%= "AB_4 " %>
  <% end %>
  <% if @person.AB_14 %>
  <%= "AB_14 " %>
  <% end %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
